<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Máster en Ingeniería Web</title>

<link rel="shortcut icon" href="img/miwlogo.png" />
<link rel="stylesheet" type="text/css" href="../css/style.css">

<title>Máster en Ingeniería Web</title>

</head>
<body>
<article>
	<header id="header_tit">
		<div id="tit">MASTER EN INGENIERIA WEB</div>
			<img src="../img/miwlogo.png"
				style="width: 100px; height: 100px; float: left; top: 0px; margin-left: 60px;" /></h1>
		<div id="logo_principal"></div>
	</header>

	<div id="menu">
		<div id="cont">
			<div class="contenedor_general">
				<div class="logo_interior">
					<img src="../img/icon_gris.png"
						style="width: 35px; height: 40px; float: left;" />
				</div>
				<p id="inicio" class="texto">
					<a href="../index.html">Inicio</a>
				</p>
			</div>
			<div class="contenedor_general">
				<div class="logo_interior">
					<img src="../img/icon_gris.png"
						style="width: 35px; height: 40px; float: left;" />
				</div>
				<p class="texto">Asignaturas</p>
			</div>
			<div class="contenedor_general">
				<div class="logo_interior">
					<img src="../img/icon_gris.png"
						style="width: 35px; height: 40px; float: left;" />
				</div>
				<p class="texto">Calendario</p>
			</div>
			<div class="contenedor_general">
				<div class="logo_interior">
					<img src="../img/icon_gris.png"
						style="width: 35px; height: 40px; float: left;" />
				</div>
				<p class="texto">Matrícula</p>
			</div>
			<div class="contenedor_general">
				<div class="logo_interior">
					<img src="../img/icon_gris.png"
						style="width: 35px; height: 40px; float: left;" />
				</div>
				<p class="texto">Futuro</p>
			</div>
		</div>
	</div>
	<section id="contenido">
		<article>
			<h2>Materias</h2>
		</article>
		<section>
		<div class="seccion">
			<div class="content">
				<table>
					<thead>

					</thead>
					<tbody>
						<tr>
							<th>Asignatura</th>
							<th>ECTS</th>
							<th>Semestre</th>
						</tr>
						<br/><br/>
						<tr>
							<td>Patrones de diseño</td>
							<td>4</td>
							<td>1º</td>
						</tr>
						<tr>
							<td>Servicios y protocolos de aplicaciones en internet</td>
							<td>2</td>
							<td>1º</td>
						</tr>
						<tr>
							<td>Tecnologias de desarrollo para clientes ligeros</td>
							<td>4</td>
							<td>1º</td>
						</tr>
						<tr>
							<td>Desarrollo de aplicaciones para dispositivos moviles</td>
							<td>4</td>
							<td>1º</td>
						</tr>
						<tr>
							<td>Desarrollo de aplicaciones web propietarias</td>
							<td>4</td>
							<td>1º</td>
						</tr>
						<tr>
							<td>Desarrollo de aplicaciones web de libre distribucion</td>
							<td>4</td>
							<td>2º</td>
						</tr>
						<tr>
							<td>Seguridad en la programacion web</td>
							<td>4</td>
							<td>2º</td>
						</tr>
						<tr>
							<td>Gestores de contenido</td>
							<td>2</td>
							<td>2º</td>
						</tr>
						<tr>
							<td>Metodologias web ligeras</td>
							<td>4</td>
							<td>2º</td>
						</tr>
					</tbody>
					<tfoot></tfoot>

				</table>
			</div>
		</div>
	</section>
	</section>

		<footer> María García &copy; Copyright 2014 </footer>
	
	</article>


</body>
</html>