@CHARSET "utf-8";

@font-face {
	font-family: font;
	src: url('../fonts/breamcatcher.ttf');
}

@-webkit-keyframes aparecer { 
	0%{
	opacity: 0;
	-webkit-transform: rotate(20deg);
	margin-left: 150px;
}

25%{
opacity: 0.2;
margin-left: 180px;
}
50%{
opacity:0.4;
margin-left: 180px;
}
75%{
opacity:0.8;
margin-left: 180px;
}
100%{
opacity:0.4;
margin-right: 30px;
margin-top: 0px;
}
}
* {
	<!--margin: 0px; -->
	<!--padding: 0px; -->
	font-family: font;
	color: #fed9a7;
}

#tit {
	font-family: font;
	font-size: 30px;
	width: 50%;
	text-align: justify;
	-webkit-animation: aparecer 3s 1;
	margin-right: 130px;
	margin-top: 0px;
	z-index: -1;
}

#header_tit {
	padding: 15px;
	background-color: #3f3f3f;
	width: 1500px;
	height: 20px;
}


.seccion {
	border-color: black;
	border-width: medium;
	width: 98%;
	position: relative;
	margin-top: 2%;
	margin-left: 1%;
	z-index: 1;

}

.content {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #fed9a7;
}

td, th{
	color:#3f3f3f;
	font-family: font, serif;
	font-size: 20px;
	
}

#logo_principal {
	margin-top: 10px;
	background-image: url('img/miwlogo.png');
}

.logo_interior {
	width: 40px;
	height: 40px;
	background-image: url('/img/icon_gris.png');
	float: left;
}

#logopie {
	width: 20px;
	height: 20px;
	margin: 10px;
	background-image: url(img/moodle.jpg);
}

h1 {
	font-family: font, serif;
	color: #ff8a51;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	width: 100%;
	float: left;
	text-align: center;
}

h2 {
	font-family: font, serif;
	color: #ff8a51;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	width: 100%;
	float: left;
	text-align: left;
}

header {
	background-color: #3f3f3f;
	width: 1500px;
	height: 20px;
}

h3 {
	font-family: font, serif;
	
}

body {
	width: 800px;
	background-image: url('img/wallpapermadera.jpg');
}

p {
	font-family: font, serif;
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	color: #3f3f3f;
}

.opcion {
	background-color: #172f3d;
}

#menu {
	position: fixed;
	width: 75px;
	height: 80%;
	background-color: #3f3f3f;
	overflow: hidden;
	-webkit-transition: width 0.5s;
}

#menu:hover {
	width: 180px;
}

a {
	text-decoration: none;
}

#cont {
	margin-top: 100px;
}

.contenedor_general {
	width: 150px;
	height: 40px;
	margin-left: 10px;
	margin-top: 30px;
}

.contenedor_general:hover {
	background-color: #ff8a51;
}

.texto {
	margin-left: 70px;
	line-height: 40px;
	font-size: 20px;
	color: #fed9a7;
}

#contenido {
	position: absolute;
	right: 170px;
	left: 200px;
	height: auto;
}

#info {
	font-family: font, serif;
	margin: auto;
	margin-top: 70px;
	font-size: 16px;
	text-align: justify;
	color: #172f3d;
}

footer {
	position: absolute;
	width: 100%;
	background-color: #ff8a51;
	color: #172f3d;
	border: dashed #91beae;
	height: 25px;
	font-family: font, serif;
	text-align: center;
	margin-top: 70%;
}

