@CHARSET "utf-8";

head{
	
}


#logo {
	-webkit-animation-name: translate;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

#logopie{
	width: 88px;
	height: 65px;
}

#celdatitulo {
	float: left;
	width: 83%;
}

#celdalogo {
	padding-left: 1%;
	float: left;
}

h1 {
	font-family: font, serif;
	color: #ff8a51;
	text-align: center;
	font-weight: bold;
}
body{
	width: 800px;
	background-image: url('img/wallpapermadera.jpg');
}

.opcion{
	background-color: #172f3d;
}

.itemmenu {
	padding-left: 8%;
	background-color: ;
	color:;
	cursor: pointer;
}

.itemmenu:hover {
	background-color: #ff8a51;
}
#footer {
	clear: left;
	background-color: #ff8a51;
	border-top: dashed #91beae;
	position: relative;	
	height: 30px;
	text-align: center;
}

#footer a{
	color: #fa6a31; 
	font-weight: bolder;
}